# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
    # specify the version you desire here
    - image: softinstigate/maven-aws:latest

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx2048m

    steps:
    - checkout

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "pom.xml" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    # Make sure we have all dependencies
    - run: mvn dependency:go-offline

    - save_cache:
        paths:
        - ~/.m2
        key: v1-dependencies-{{ checksum "pom.xml" }}

    # run tests!
    - run:
        name: Maven Build and Test/JaCoDo (for Code Coverage)
        # https://stackoverflow.com/questions/53010200/maven-surefire-could-not-find-forkedbooter-class/53012553#53012553
        command: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package -Dmaven.test.failure.ignore=false -DskipTests=false
        # command: mvn clean install -Dmaven.test.failure.ignore=false

      # run SonarCloud Tests
    - run:
        name: Run SonarQube Analyis
        command: 'mvn sonar:sonar -Dsonar.projectKey=geri-m_client-lambda  -Dsonar.organization=geri-m-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN'

    - run: export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - run: export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - run: echo 'export AWS_DEFAULT_REGION="eu-central-1"' >> $BASH_ENV


    - run:
        name: "Create Bucket if not exist"
        command: |
            if aws s3 ls s3://jars.madlmayr.at/; then
                echo "Bucket exists"
            else
                echo "Create Bucket"
                aws s3 mb s3://jars.madlmayr.at/
            fi

    - run:
        name: "Copy JAR to S3 and modify cloudformation-template code-uri path"
        command: aws cloudformation package --template-file cloudformation.yaml --s3-bucket jars.madlmayr.at --output-template-file processed-template.yml
        
    - run:
        name: "Create or update cloudformation stack"
        command: aws cloudformation deploy --stack-name client-api --template-file processed-template.yml --no-fail-on-empty-changeset --capabilities "CAPABILITY_IAM"